body{
    background-color: #eafadd;
}
h1{
    color: blue;
    font-family: Times New Roman;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
p{
    color: #555555;
    font-family: verdana;
    text-align: justify;
}